In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#Read the Excel files into the program. Excel only takes about a million rows so you will have to
#export them separately and then merge.
MyDF2017_1 = pd.read_excel('1.xlsx')

In [ ]:
MyDF2017_2 = pd.read_excel('2.xlsx')

In [3]:
#concatenate two dataframes
#MyDF2017 = pd.concat([MyDF2017_1, MyDF2017_2],ignore_index=True)
MyDF2017 = pd.read_csv('AllDataCSV.csv')
MyDF2017 = MyDF2017.drop_duplicates() #drop duplicate rows
x=MyDF2017.groupby(['npi'])['npi'].count()
print(len(x[x>1])) #double check there is no duplicate providers
#MyDF2017.to_excel('AllData.xlsx')

0

In [ ]:
#MyDF2017.to_csv('AllDataCSV.csv')

In [4]:
MyDF2017.columns
MyDF2017.set_index('npi')

,Unnamed: 0,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,beneficiary_male_count,beneficiary_race_white_count,beneficiary_race_black_count,beneficiary_race_asian_pi_count,beneficiary_race_hispanic_count,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score
npi,,,,,,,,,,,,,,,,,,,,,
1003000126,0,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,92.0,220.0,14.0,0.0,0.0,0.0,0.0,143.0,91.0,2.1685
1003000142,1,KHALIL,RASHID,NaN,M.D.,M,I,4126 N HOLLAND SYLVANIA RD,SUITE 220,TOLEDO,...,92.0,195.0,58.0,NaN,NaN,0.0,NaN,143.0,133.0,1.8029
1003000167,2,ESCOBAR,JULIO,E,DDS,M,I,5 PINE CONE RD,NaN,DAYTON,...,17.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,1.0598
1003000175,3,REYES-VASQUEZ,BELINDA,NaN,D.D.S.,F,I,322 N AZUSA AVE STE 202,NaN,LA PUENTE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1003000282,4,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,...,NaN,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,4.5148
1003000407,5,GIRARDI,DAVID,J,D.O.,M,I,100 HOSPITAL RD,NaN,BROOKVILLE,...,31.0,117.0,0.0,0.0,0.0,0.0,0.0,71.0,46.0,1.8494
1003000423,6,VELOTTA,JENNIFER,A,M.D.,F,I,11100 EUCLID AVE,NaN,CLEVELAND,...,0.0,NaN,NaN,0.0,NaN,0.0,0.0,48.0,17.0,0.7880
1003000480,7,ROTHCHILD,KEVIN,B,MD,M,I,12605 E 16TH AVE,NaN,AURORA,...,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,1.8413
1003000522,8,WEIGAND,FREDERICK,J,MD,M,I,1565 SAXON BLVD,SUITE 102,DELTONA,...,203.0,393.0,NaN,NaN,38.0,0.0,NaN,402.0,57.0,1.2057
1003000530,9,SEMONCHE,AMANDA,M,DO,F,I,1021 PARK AVE,SUITE 203,QUAKERTOWN,...,179.0,437.0,NaN,NaN,NaN,0.0,NaN,391.0,70.0,1.2281
1003000597,10,KIM,DAE,Y,"M.D., PH.D",M,I,1145 S UTICA AVE,SUITE 202,TULSA,...,194.0,203.0,23.0,NaN,NaN,25.0,NaN,207.0,57.0,1.5868
1003000639,11,BENHARASH,PEYMAN,NaN,MD,M,I,UCLA CARDIOTHORACIC SURGERY 10833 LECONTE AVE,62-182 CHS,LOS ANGELES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1003000720,12,HERNANDEZ,OTNIEL,NaN,DNP,M,I,1275 W 47TH PL,SUITE 422,HIALEAH,...,NaN,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,1.2105
1003000746,13,GALLEGOS,MIKE,L,PHARM D,M,I,4236 NEW VISTAS CT NW,NaN,ALBUQUERQUE,...,NaN,11.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,1.4481
1003000753,14,DEITLE,JAMES,F,PA-C,M,I,501 N GRAHAM ST,SUITE #580,PORTLAND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1003000837,15,JOHN,RICHARD,L,APRN,M,I,1550 E MAIN ST,MENTAL HEALTH,SANTA MARIA,...,13.0,13.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,1.3624
1003000902,16,LOHANO,JAIVANTI,NaN,MD,F,I,2215 PORTLAND AVE,NaN,LOUISVILLE,...,119.0,389.0,NaN,NaN,NaN,NaN,NaN,269.0,151.0,1.4850
1003000936,17,STELLINGWORTH,MARK,A,MD,M,I,8 RICHLAND MEDICAL PARK DR,SUITE 100,COLUMBIA,...,165.0,222.0,NaN,NaN,NaN,0.0,NaN,225.0,93.0,1.8348
1003001017,18,NICHOLS,LAWRENCE,M,M.D,M,I,5471 LA PALMA AVE,STE. 202,LA PALMA,...,74.0,75.0,NaN,NaN,36.0,0.0,NaN,84.0,67.0,1.5473
1003001132,19,VIGGIANELLI,MICHAEL,A,MD,M,I,HWY 1 CALIFORNIA MENS COLONY,NaN,SAN LUIS OBISPO,...,NaN,29.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.9497
1003001207,20,GORJI,NILOO,NaN,NaN,F,I,359 MERROW ROAD,NaN,TOLLAND,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.6735
1003001256,21,CARAGOL,JENNIFER,A,MD,F,I,2930 11TH AVE,NaN,EVANS,...,33.0,38.0,17.0,NaN,NaN,NaN,NaN,33.0,39.0,2.4117
1003001298,22,WARREN,KASEY,NaN,O.D.,F,I,5401 SOUTH FM 1626,SUITE 135,KYLE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1003001363,23,STEVENS,CHARLES,NaN,M.D.,M,I,1665 S IMPERIAL AVE STE D,NaN,EL CENTRO,...,196.0,254.0,24.0,NaN,221.0,NaN,NaN,155.0,359.0,2.0167
1003001371,24,KANTER,DAVID,M,MD,M,I,750 E ADAMS ST,NaN,SYRACUSE,...,25.0,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,1.4932
1003001462,25,WOLSKI,MICHAL,J,MD,M,I,2401 S 31ST ST,NaN,TEMPLE,...,33.0,38.0,NaN,0.0,NaN,0.0,0.0,34.0,15.0,1.2991
1003001587,26,TRAN,MARY,C,PA-C,F,I,400 SAYBROOK RD STE 205,NaN,MIDDLETOWN,...,35.0,55.0,NaN,NaN,20.0,0.0,NaN,17.0,80.0,1.2909
1003001645,27,TRIVEDI,VINOD,NaN,MD,M,I,1485 RIVER PARK DR,SUITE 200,SACRAMENTO,...,55.0,72.0,12.0,NaN,13.0,NaN,NaN,71.0,42.0,2.4683
1003001678,28,EIRICH,REBECCA,NaN,NP,F,I,188 FRIES MILL RD,SUITE A-2,TURNERSVILLE,...,0.0,NaN,NaN,NaN,NaN,0.0,NaN,22.0,0.0,1.0292
1003001785,29,JONES,JACLYN,C,D.O.,F,I,1245 S UTICA AVE,NaN,TULSA,...,30.0,49.0,17.0,NaN,NaN,NaN,NaN,32.0,47.0,1.6111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1992998330,1162869,EGAN,CHRISTOPHER,J,PA,M,I,535 E 70TH ST,NaN,NEW YORK,...,69.0,157.0,NaN,NaN,16.0,0.0,NaN,172.0,24.0,0.9913
1992998371,1162870,ORENDAIN,ALEJANDRO,NaN,D.D.S.,M,I,5048 WAVERLY DR,NaN,PICO RIVERA,...,18.0,NaN,NaN,0.0,27.0,0.0,NaN,30.0,14.0,1.2854
1992998405,1162871,NARAYAN,SARA,E,MD,F,I,133 LITTLETON RD STE 103,ALLERGY WEST,WESTFORD,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,1.1576
1992998413,1162872,ROGERS,STANLEY,K,DO,M,I,4337 NW 50,NaN,OKLAHOMA CITY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992998496,1162873,ZIESE,SIRI,K,D.D.S.,F,I,6400 PLEASANT VALLEY RD,NaN,EL DORADO,...,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,1.6042
1992998553,1162874,DRIES,LISA,M,DO,F,I,9 HEALTHCARE DR,SUITE 101,BIDDEFORD,...,0.0,NaN,0.0,0.0,NaN,0.0,NaN,20.0,26.0,1.0468
1992998611,1162875,MANGILI,ALESSANDRO,NaN,MD,M,I,1015 NW 22ND AVE,GOOD SAMARITAN HOSPITAL EMERGENCY DEPARTMENT,PORTLAND,...,60.0,112.0,NaN,NaN,NaN,NaN,NaN,66.0,67.0,1.7057
1992998645,1162876,MARUPUDI,SESHASREE,NaN,MD,F,I,129 VISION PARK BLVD,STE 300,SHENANDOAH,...,140.0,372.0,40.0,16.0,32.0,0.0,11.0,396.0,75.0,1.8846
1992998736,1162877,LANGLEY,ADAM,W,M.D.,M,I,2658 MAGUIRE ROAD,NaN,OCOEE,...,87.0,133.0,14.0,NaN,NaN,0.0,NaN,154.0,15.0,1.2142
1992998819,1162878,HODGE,JAMES,R,DO,M,I,3520 GUION RD,SUITE 307,INDIANAPOLIS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992998926,1162879,PARK,ALBERT,NaN,M.D.,M,I,14445 OLIVE VIEW DR,2B-182,SYLMAR,...,42.0,96.0,NaN,12.0,NaN,0.0,NaN,NaN,NaN,2.0719
1992998967,1162880,TSIRKIN,SVETLANA,NaN,M.D.,F,I,14701 E EXPOSITION AVE,NaN,AURORA,...,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.9926
1992999031,1162881,NAIK,RAHUL,R,M.D.,M,I,2020 ZONAL AVE,IRD ROOM 620,LOS ANGELES,...,104.0,169.0,24.0,NaN,64.0,0.0,NaN,204.0,73.0,2.3398
1992999122,1162882,JOHNSON,CHARLES,R,D.O.,M,I,1601 CLINT MOORE RD,155,BOCA RATON,...,466.0,983.0,NaN,NaN,23.0,0.0,26.0,1017.0,30.0,1.2037
1992999148,1162883,SERPICO,CHRISTOPHER,F,PA,M,I,4501 N WINCHESTER AVE,2ND FL,CHICAGO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992999270,1162884,BENNETT,STEPHANIE,R,PA-C,F,I,5999 DUNDEE RD,SUITE 750,WINTER HAVEN,...,47.0,93.0,NaN,NaN,NaN,0.0,NaN,103.0,14.0,0.9264
1992999395,1162885,BANGO,KATHLEEN,M,"MS, NPP",F,I,30 CRESCENT AVE,NaN,SARATOGA SPRINGS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992999437,1162886,RIVERA,JOSE,L,M.D.,M,I,1600 S ANDREWS AVE,NaN,FORT LAUDERDALE,...,69.0,NaN,NaN,0.0,160.0,0.0,NaN,39.0,136.0,1.8068
1992999494,1162887,HINSON,TRACY,L,O.D.,M,I,115 ROLLING HILLS CIR,NaN,EASLEY,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.8131
1992999551,1162888,MOLAI,INDIRA,NaN,M.D.,F,I,625 E GRAND AVE,NaN,ESCONDIDO,...,116.0,400.0,NaN,14.0,46.0,NaN,NaN,413.0,59.0,1.1950
1992999569,1162889,YUEN,JENNY,F,"O.D., F.A.A.O",F,I,195 PEABODY ST,NaN,SAN FRANCISCO,...,14.0,0.0,0.0,NaN,NaN,0.0,NaN,21.0,20.0,0.9484
1992999650,1162890,YONG,WAYNE,B,DMD,M,I,28 ATLANTIC AVENUE,121,BOSTON,...,13.0,NaN,NaN,12.0,0.0,0.0,NaN,NaN,NaN,0.6850
1992999759,1162891,SORIANO,DINO,V,RN MSN HSA FNP-C,M,I,171 CLOVER POINT CIR,NaN,GUYTON,...,93.0,150.0,96.0,0.0,NaN,0.0,NaN,118.0,140.0,1.2076
1992999791,1162892,THOMAS,SHELIA,K,"RN, APN",F,I,6266 POPLAR AVE,NaN,MEMPHIS,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,16.0,21.0,1.9751
1992999817,1162893,TAKENISHI,GREG,S,M.D.,M,I,4601 DALE RD,NaN,MODESTO,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,1.1434
1992999825,1162894,DESCHENES,GEOFFREY,R,M.D.,M,I,1100 9TH AVE,MS:M4-PFS,SEATTLE,...,66.0,123.0,NaN,NaN,NaN,0.0,NaN,122.0,22.0,1.1446
1992999833,1162895,SHAW,L. NOAH,NaN,NaN,M,I,35 W 90TH ST,NaN,NEW YORK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992999866,1162896,COGAN,JACQUELINE,NaN,DDS,F,I,16235 NE 11TH CT,NaN,NORTH MIAMI BEACH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992999874,1162897,JOFFE,GABRIELLA,NaN,NaN,F,I,8260 ATLEE RD,"MOB 2, SUITE 319",MECHANICSVILLE,...,13.0,23.0,NaN,0.0,0.0,0.0,NaN,26.0,12.0,2.5024
1992999882,1162898,RUDZINSKI-WALTER,MARISSA,L,PA-C,F,I,575 N RIVER ST,NaN,WILKES BARRE,...,20.0,63.0,NaN,0.0,NaN,0.0,NaN,19.0,58.0,1.3447

In [5]:
x = MyDF2017.groupby(['bene_count'])['bene_count'].count()
sum((x.index * x))/sum(x) #determine average number of beneficiaries per provider (158)

158.34945851736759

In [7]:
x = MyDF2017['total_day_supply']/MyDF2017['total_claim_count']
x.median() #determine the median in a list of day per claim indexed by provider (29.7)

29.7125748502994

In [8]:
#group the database by specialty description and, for each specialty, determine the ratio of
#brand name drug claims to the total claims.
x = MyDF2017.groupby(['specialty_description'])[['specialty_description','total_claim_count',
                                                'brand_claim_count']].sum()
x = x[x['total_claim_count']>1000] #filter out categories w/ less than 1000 claims
x['brand_drug_fraction'] = x['brand_claim_count'] / x['total_claim_count'] #deteremine fraction
x['brand_drug_fraction'].std(skipna=True) #determine standard deviation (9.13%)

0.09132704930313962

In [9]:
#For each US state, determine the ratio of number of beneficiaries of opioids to that of 
#antibiotics.
x = MyDF2017.groupby(['nppes_provider_state'])[['nppes_provider_state','opioid_bene_count',
                                                'antibiotic_bene_count']].sum()
#Assuming only the US states are being considered; other US territories and countries are excluded.
x['opioid_antibiotic_ratio'] = x['opioid_bene_count']/x['antibiotic_bene_count']
exclude = ('XX','AA','AE','AP','AS','GU','MP','PR','VI','ZZ')
for item in x.index:
    if item in exclude:
        x.drop(item, inplace=True)
x['opioid_antibiotic_ratio'].max()-x['opioid_antibiotic_ratio'].min() #difference 0.446

0.44635372443082089

In [10]:
#Determine whether there is a correlation between the fraction of claim counts for 65+ beneficiaries
#and the fraction of claim counts.
x = MyDF2017[['total_claim_count','total_claim_count_ge65','ge65_suppress_flag','lis_claim_count',
         'lis_suppress_flag']].copy()
x['65_fraction'] = x['total_claim_count_ge65'] / x['total_claim_count']
x['lis_fraction'] = x['lis_claim_count'] / x['total_claim_count']
x.dropna(subset=['65_fraction','lis_fraction'],inplace=True)
x[['65_fraction','lis_fraction']].corr() #coefficient -0.6389

              65_fraction  lis_fraction
65_fraction      1.000000     -0.638932
lis_fraction    -0.638932      1.000000

In [11]:
#Determine the average day supply of opioids per claim. Then, for each state/specialty pair, 
#determine the average of this number. Finally, do some statistics on it.
x = MyDF2017[['npi','la_opioid_claim_count','la_opioid_day_supply', 'nppes_provider_state', 
              'specialty_description']].copy()
criterion = x['nppes_provider_state'].map(lambda a: a in exclude) #exclude data from non US states
x.drop(x[criterion].index, inplace=True)
x['avg_opioid_length'] = x['la_opioid_day_supply']/x['la_opioid_claim_count']
criterion = x['avg_opioid_length'].map(lambda a: a == np.nan)
x.drop(x[criterion].index, inplace=True) #drop NaN values

#create multi-index dataframe of provider count per state,specialty pair. Drop pairs w/
#less than 100 providers. Inner join it with similar multi-index of average length.
x_avglength = x.groupby(['nppes_provider_state','specialty_description'])['npi'].count()
x_avglength = x_avglength[x_avglength >= 100].to_frame()
x_avglength = x_avglength.join(x.groupby(['nppes_provider_state','specialty_description'])
                  ['avg_opioid_length'].mean(), how='inner')

#Create similar dataframe for average across all states. Use it in the previous dataframe.
ByState = x.groupby(['specialty_description'])['avg_opioid_length'].mean()
x_avglength['avg_opioid_ratio'] = np.nan
for state, descp in x_avglength.index:
    x_avglength.loc[(state, descp),'avg_opioid_ratio'] = x_avglength.loc[(state, descp),'avg_opioid_length']/ByState[descp]
x_avglength['avg_opioid_ratio'].max() #2.288 max ratio

2.2880137208395586

In [13]:
#Read in a new database for 2016 and store it in another dataframe.
MyDF2016_1 = pd.read_excel('2016 1.xlsx')
MyDF2016_2 = pd.read_excel('2016 2.xlsx')
MyDF2016 = pd.concat([MyDF2016_1, MyDF2016_2],ignore_index=True)
MyDF2016 = MyDF2016.drop_duplicates() #drop duplicate rows
x=MyDF2016.groupby(['npi'])['npi'].count()
print(len(x[x>1]))

0

In [59]:
#Always a smart idea to save the dataframe to CSV so that next time you do not have to wait
#for the slow read_excel method to load your dataframe.
MyDF2016.to_csv('AllDataCSV2016.csv')

In [14]:
#Determine the inflation in cost per day of drugs for each provider (from 2016 to 2017)

x = MyDF2017[['npi','total_day_supply','total_drug_cost']].copy().set_index('npi')
x.rename(columns = {'total_day_supply' : 'total_day_supply17', 
                    'total_drug_cost' : 'total_drug_cost17'}, inplace=True)
#Cost per day for each provider is assumed to be total aggregate drug cost divided by total aggregate days.
x['cost_per_day17'] = x['total_drug_cost17']/x['total_day_supply17']
x = x.join(MyDF2016[['npi','total_day_supply','total_drug_cost']].copy().set_index('npi'),how='inner')
x.rename(columns = {'total_day_supply' : 'total_day_supply16', 
                    'total_drug_cost' : 'total_drug_cost16'}, inplace=True)
x['cost_per_day16'] = x['total_drug_cost16']/x['total_day_supply16']
x['Inflation'] = (x['cost_per_day17'] - x['cost_per_day16'])/x['cost_per_day16']
x['Inflation'].describe()  
#mean is 0.2274 (22.74%). Sounds like a lot. Looks like there are a lot of unreasonably high values at the top 5% percentile pushing the average up.
#the median of 1.98% seems to be more representative. More investigation into these data may be needed.

count    1.054559e+06
mean     2.274707e-01
std      3.417497e+00
min     -1.000000e+00
25%     -2.101077e-01
50%     -1.986239e-02
75%      2.025134e-01
max      1.195490e+03
Name: Inflation, dtype: float64

In [15]:
#For each specialty, determine the fraction of specific providers that existed in 2016 and left in 2017.
x = MyDF2016.groupby(['specialty_description','npi'])['npi'].count().to_frame()
Specialty16 = MyDF2016.groupby('specialty_description')['specialty_description'].count()
Specialty16 = Specialty16[Specialty16>1000].to_frame().rename(columns={'specialty_description':'npi_16'})
#Specialty 16 contains counts of providers in 2016 in each category
x = x.join(MyDF2017.groupby(['specialty_description','npi'])['npi'].count().to_frame(),how ='inner',lsuffix='_16',rsuffix='_17')
Specialty17 = x.groupby(['specialty_description'])['npi_17'].count().to_frame()
#Specilatly17 uses inner join to determine the number of providers who left (which is associated with providers that left) not the net reduction.
Specialty16 = Specialty16.join(Specialty17, how='inner')
Specialty16['Fraction_Left']=(Specialty16['npi_16']-Specialty16['npi_17'])/Specialty16['npi_16']
Specialty16['Fraction_Left'].max()  ##37.69% max left

0.37686567164179102